* {
	box-sizing: border-box;
	
}

.wrapper {
	background-color: gray;
	height: 1100px;
}

.header {
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color:white ;

}
.p {
	float: right;
	widows: 70%;
	color: white;

}
.nav ,ul {
	font-size: 24px;
}
a {
	text-decoration: none;
	color: white;
}
footer {
	padding: 10px;
	text-align: center;
	background-color: gray;
	color: white;
}